html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

header {
	height: 68px;
	background: #e14747;
}

#map {
	position: absolute;
	left: 0;
	top: 68px;
	width: 100%;
	height: 100%;
}

#legend {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px #444;
}

#legend > section {
  float: left;
  width: 20%;
  padding: 0 2.5%;
}

#legend section#legend-info h1 {
  text-transform: uppercase;
  font-size: 200%;
  margin: 21px 0px 0px 0px;
}

#legend section#legend-info p {
  font-size: 90%;
  margin: 0px 0px 25px 0px;
  line-height: 140%;
}

#legend section.legend-status {
  color: #666;
}

#legend section.legend-status h1 {
  text-transform: uppercase;
  border-bottom:1px solid #888;
  font-size: 110%;
  padding-top: 10px;
  margin-bottom: 5px;
}

#legend section.legend-status p {
  padding-top: 0px;
  margin-top:5px;
}

#legend section.legend-status p span.value {
  font-size: 250%;
  font-weight: bold;
}

#legend section#legend-open.active * {
  color: red;
  border-color: red;
}

#legend section#legend-newly-open.active * {
  color: orange;
  border-color: orange;
}

#legend section#legend-newly-closed.active * {
  color: #114ab1;
  border-color: #114ab1;
}
