#wordlist {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 130px;
  right: 10px;
  width: 185px;
  height: 530px;
  overflow-y: scroll;
}

#wordlist span{
  font-size: 0.8em;
  color: #c0c0c0;
}

#wordlist .title {
  color: #fff;
  margin: 0;
  padding: 10px 8px 10px 28px;
  background: rgba(77, 79, 80, 0.8);
  font-weight: bold;
  text-transform: uppercase;
}

#wordlist ol {
  color: #fff;
  margin-left: 10px;
}

#wordlist_show {
  cursor: pointer;
}

#wordlist button {
  height: 26px;
  padding: 0 20px;
  line-height: 26px;
  background: #403e3e;
  border: none;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

#wordlist .title button {
  width: 25px;
  height: 25px;
  margin: 0 0 0 5px;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  background: url("/assets/img/x.png");
  cursor: pointer;
}